body {
  font-family: 'Bangee, Helvetica, Arial';
  padding-top: 80px;
}

.navbar {
  background-image: linear-gradient(to bottom, #007c0c 0, #000c0c 100%);
}

.bg_header_img {
  background: url(../images/webpack.logo.png) -131px 1px no-repeat;
  margin-right: 15px;
  height: 150px;
  width: 150px;
}

h3 {
  font-size: 18px;
}


@font-face {
  font-family: 'Bangee';
  src: url('../fonts/Bungee-Regular.ttf');
}